.header-full-width {
    width: 100%;
}

.normal-header-height {
    min-height: 150px;
}

.default-normal-header {
    background-color: #4a1b85;
    color: #fff;

    align-items: center;
    justify-content: center;
}

.profile-container {
    height: 100%;
    width: 10%;

    display: flex;
    justify-content: center;
}

.normal-header-input-container {
    height: 100%;
    width: 80%;
}

.system-title-container {
    height: 100%;
    width: 10%;

    margin: 0px 1% 0px 0px;

    h3{
        margin: 0;

        font-size: 1.8em;
        font-weight: 400;
    }
}

.action-with-icon {
    width: 90%;
    height: 15%;

    display: flex;
    justify-content: center;

    padding: 5px;
    cursor: pointer;

    svg {
        margin-right: 8px;
    }
}

.action-with-icon:hover {
    span:hover {
        text-decoration: underline;
    }

    filter: brightness(90%);
}

.header-input-container{
    height: 80px;
    width: 50%;
}
