.form-container-profile{
    width: 75%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.label-profile-input {
    color: #959498;
}

.profile-input-container{
    height: 80px;
    width: 70%;
}
